.footer-none {
  padding: 6rem 0 1rem 0 !important;
}

.main-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  padding: 7rem 0;

  color: #fff;
}

@media (max-width: 767.98px) { 
  .main-page {
    padding: 0;
    padding-top: 9rem;

    &__wrapper {
      width: 100%;
    }
  }

  .footer-none {
    padding-top: 9rem !important;
  }
}