$song: '.song';

.playing {
  visibility: visible !important;
  opacity: 1 !important;
}

.song {
  width: 12rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;

  &__photo {
    background-image: url("https://colorate.azurewebsites.net/SwatchColor/242526");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-color: #222;

    height: 12rem;
    width: 100%;

    cursor: pointer;

    &__overlay {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.8);
      
      visibility: hidden;
      opacity: 0;
      transition: all 0.45s ease-in-out 0s;
    }

    #{$song}__icon__play {
      color: #fff;
    }
  }

  &:hover &__photo__overlay {
    visibility: visible;
    opacity: 1;
  }

  &__details {
    display: flex;
    align-items: center;
    overflow: hidden;

    margin-top: 0.25rem;

    #{$song}__singer__photo > img {
      width: 2rem;
      height: 2rem;

      border-radius: 50%;
    }
    &__name {
      margin-left: 0.75rem;
      overflow: hidden;

      p {
        color: #fff;
        margin-bottom: 0;
        cursor: pointer;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      p:hover {
        text-decoration: underline;
      }

      p.singer__name {
        font-size: 14px;
        color: rgba($color: #fff, $alpha: 0.4);
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .song {
    flex: 2;
    display: flex;
    align-items: center;

    height: 4rem;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 0;

    border-bottom: 1px solid rgb(126, 126, 126);

    &__photo {
      height: 3rem;
      width: 3rem;

      i {
        font-size: 1em;
      }
    }

    &:hover &__photo__overlay {
      visibility: visible;
      opacity: 1;
    }

    &__details {
      #{$song}__singer__photo {
        display: none;
      }
    }
  }
}