.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: #242526;

  & > div.row {
    margin: 0;
  }

  &__title {
    font-weight: 700;
    color: #ac85eb;
    cursor: pointer;
  }

  &__search {
    display: flex;
    align-items: center;

    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: #090a11;
    border-radius: 4px;

    &__input {
      order: 2;

      color: #f5f6f7;
      background-color: #090a11;
      border: none;
      font-size: 16px;
      line-height: 34px;

      width: 100%;
      padding-left: 0.75rem;
    }
    &__input:focus {
      outline: none;
    }

    i {
      color: #f5f6f7;
      cursor: pointer;
    }

    &--search {
      order: 1;
    }
    &--clear {
      order: 3;
      opacity: 0.4;
    }
    &--clear:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 767.98px) {
  .header {
    $header: &;

    & > div {
      text-align: center;

      #{$header}__title {
        font-weight: 700;
      }
      #{$header}__search {
        margin: 0 1rem;
      }
    }
  }
}
