.footer-appear--active{
  opacity: 1 !important;
  visibility: visible !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 11;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;

  background-color: #242526;

  div.container {
    padding: 0.5rem 0;
  }
}
.song-footer {
  display: flex;
  align-items: center;
  overflow: hidden;

  .song__avatar > img {
    width: 2rem;
    height: 2rem;

    border-radius: 50%;
  }

  .song__details__name {
    margin-left: 0.75rem;
    overflow: hidden;

    p {
      color: #fff;
      margin-bottom: 0;
      cursor: pointer;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    p:hover {
      text-decoration: underline;
    }
  
    .song__singer__name {
      font-size: 14px;
      color: rgba($color: #fff, $alpha: 0.4);
      font-weight: 700;
    }
  }
}

.player {
  display: flex;
  align-items: center;

  audio {
    height: 3rem;
  }
}